.banner__image{
    width: 100%;
}
.titulo__banner{
    font-family: 'Luckiest Guy', cursive;
    font-size: 8rem;
    position: absolute;
    top: 430px;
    right: 700px;
    color: antiquewhite;
    text-shadow: 6px 6px 8px black ;
}