.categories_container{
     padding: 4rem;
}
.cards__container{
    margin-bottom: 7rem;
}
.title__category{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: bisque
}
.card__list{
    display: flex;
    justify-content: space-around;
}
.card{
    width: 20rem;
    background: linear-gradient(to bottom right, #A62C0D, #0a0932);
    border-radius: 5px;
    padding-bottom: 1rem;
    box-shadow: 10px 10px 20px #000, -5px -5px 20px #000;
}
.card__image{
    border-radius: 5px ;
    width: 100%;
}
.text__card_container{
    font-size: 1.2rem;
    color: bisque;
    padding: 0.5rem;
}
@media all and (max-width: 360px) {
    .categories_container{
        padding: 1rem;
    }
    .card__list{
        flex-direction: column;
        
    }
    .card{
        width: 95%;
        margin-bottom: 2rem;
    }
    .title__category{
        font-size: 2rem;
    }
}